<table border="1" cellpadding="0" cellspacing="0" width="100%">
<tr><td>Code:                     </td> <td align="right">{$stock_symbol} </td></tr>
<tr><td>Name:                     </td> <td align="right">{$stock_name} </td></tr>
<tr><td>Last Trade Price:         </td> <td align="right">{$last_trade} </td></tr>
<tr><td>Last Trade Date:          </td> <td align="right">{$last_date} </td></tr>
<tr><td>Last Trade Time:          </td> <td align="right">{$last_time} </td></tr>
<tr><td>Change and Percent Change:</td> <td align="right">{$stock_change} </td></tr>
<tr><td>Volume:                   </td> <td align="right">{$stock_volume} </td></tr>
</table>